
<div>
    @Html.ActionLink("Регистрация", "Register", "Account") @Html.ActionLink("Вход", "Login", "Account")
</div>


<hr />
<div>
    @Html.ActionLink("Добавить материал", "AddMaterial", "TPP") <br />
    @Html.ActionLink("Список материалов", "ViewListMaterial", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить деталь", "AddEquipment", "TPP") <br />
    @Html.ActionLink("Список деталей", "ViewListEquipment", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить переход", "AddTransition", "TPP") <br />
    @Html.ActionLink("Список переходов", "ViewListTransition", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить оснастку", "AddRigging", "TPP") <br />
    @Html.ActionLink("Список этих штук", "ViewListRigging", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить операцию", "AddOperation", "TPP") <br />
    @Html.ActionLink("Список операций", "ViewListOperation", "TPP") <br />
</div>


<hr />
<div>
    @Html.ActionLink("Добавить маршрут", "AddRoute", "TPP") <br />
    @Html.ActionLink("Список маршрутов", "ViewListRoute", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить маршрутную карту", "AddRouteCar", "TPP") <br />
    @Html.ActionLink("Список маршрутных карт", "ViewListRouteCar", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить технологический процесс", "AddTechnologicalProcesses", "TPP") <br />
    @Html.ActionLink("Список технологических процессов", "ViewListTechnologicalProcesses", "TPP") <br />
</div>


