@Html.ActionLink("Выход", "Logout", "Account")
<hr />
<div>
    @Html.ActionLink("Добавить материал", "AddMaterial", "TPP") <br />
    @Html.ActionLink("Список материалов", "Materials", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить оборудование", "AddEqupment", "TPP") <br />
    @Html.ActionLink("Список деталей", "Equipments", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить переход", "AddTransition", "TPP") <br />
    @Html.ActionLink("Список переходов", "Transitions", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить оснастку", "AddRigging", "TPP") <br />
    @Html.ActionLink("Список оснасток", "Riggings", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить операцию", "AddOperation", "TPP") <br />
    @Html.ActionLink("Список операций", "Operations", "TPP") <br />
</div>


<hr />
<div>
    @Html.ActionLink("Добавить технологический процесс", "AddTpp", "TPP") <br />
    @Html.ActionLink("Список технологических процессов", "TechnologicalProcesses", "TPP") <br />
</div>

<hr />
<div>
    @Html.ActionLink("Добавить маршрут", "AddRoute", "TPP") <br />
    @Html.ActionLink("Список маршрутов", "Routes", "TPP") <br />
</div>

<hr />

<div>
    @Html.ActionLink("Добавить маршрутную карту", "AddRouteCar", "TPP") <br />
    @Html.ActionLink("Список маршрутных карт", "RouteCars", "TPP") <br />
</div>






