@model KursTRPO.Models.AddMaterialModel

@{
    ViewBag.Title = "AddMaterial";
}

<h2>AddMaterial</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>Название</td>
            <td>@Html.EditorFor(x=>x.Name)</td>
        </tr>

        <tr>
            <td>Сортамент</td>
            <td>@Html.EditorFor(x => x.Assortment)</td>
        </tr>

        <tr>
            <td>Печать</td>
            <td>@Html.EditorFor(x => x.Stamp)</td>
        </tr>

        <tr>
            <td>Обозначение стандарта</td>
            <td>@Html.EditorFor(x => x.DesignOfStandart)</td>
        </tr>

    </table>

    <input type="submit" value="Отправить" />
}