@model KursTRPO.Models.AddOperationModel

@{
    ViewBag.Title = "AddOperation";
}

<h2>Добавить операцию</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>
                Название
            </td>
            <td>
                @Html.EditorFor(model => model.Name)
            </td>
        </tr>

        <tr>
            <td>
                Номер
            </td>
            <td>
                @Html.EditorFor(model => model.Number)
            </td>
        </tr>

        <tr>
            <td>
                Код перехода
            </td>
            <td>
                @Html.DropDownListFor(model => model.TransitionId, Model.transList)
            </td>
        </tr>

        <tr>
            <td>
                Название перехода
            </td>
            <td>
                @Html.EditorFor(model => model.TransitionName)
            </td>
        </tr>

        <tr>
            <td>
                Код оборудования
            </td>
            <td>
                @Html.DropDownListFor(model => model.EquipmentId, Model.equipList)
            </td>
        </tr>

        <tr>
            <td>
                Код оснастки
            </td>
            <td>
                @Html.ListBoxFor(model => model.selectRigging, Model.riggingList)
            </td>
        </tr>

        <tr>
            <td>
                Номер цеха
            </td>
            <td>
                @Html.EditorFor(model => model.DepartmentNumber)
            </td>
        </tr>


        <tr>
            <td>
                Номер участка
            </td>
            <td>
                @Html.EditorFor(model => model.SiteNumber)
            </td>
        </tr>


        <tr>
            <td>
                Номер рабочего места
            </td>
            <td>
                @Html.EditorFor(model => model.WorkplaceNumber);
            </td>
        </tr>



    </table>
    <input type="submit" value="Добавить" />
}