@model KursTRPO.Models.Operation


@{
    ViewBag.Title = "AddOperation";
}

<h2>AddOperation</h2>

@using (Html.BeginForm())
{
    <table border="1">
        <tr align="center">   
            <td>Наменование</td>
            <td>@Model.Name</td>
            <td>@Html.ActionLink("Переименовать", "SelectName", "Tpp")</td>
        </tr>
        <tr align="center">
            <td>Номер:</td>
            <td>@Model.Number</td>
            <td>@Html.ActionLink("Указать номер", "SelectNumber", "Tpp")</td>
        </tr>

        <tr align="center">
            <td>Код перехода:</td>
            <td>@Html.Label(Convert.ToString(Model.TransitionId))</td>
            <td>@Html.ActionLink("Выбрать из БД", "SelectTransition", new { i = -1 })</td>
        </tr>

        <tr align="center">
            <td>Название перехода</td>
            <td>@Model.TransitionName</td>
            <td>@Html.ActionLink("Переименовать", "SelectTransName", "Tpp")</td>
        </tr>

        <tr align="center">
            <td>Код оборудования:</td>
            <td>@Html.Label(Convert.ToString(Model.EquipmentId))</td>
            <td>@Html.ActionLink("Выбрать из БД", "SelectEquipment", new { i = -1 })</td>
        </tr>

        <tr align="center">
            <td>Код оснастки:</td>
            <td>@Html.Label(Convert.ToString(Model.RiggingId))</td>
            <td>@Html.ActionLink("Выбрать из БД", "SelectRigging", new { i = -1 })</td>
        </tr>

        <tr align="center">
            <td>Номер цеха:</td>
            <td>@Model.DepartmentNumber</td>
            <td>@Html.ActionLink("Указать номер", "SelectWorkPlace", "Tpp")</td>
        </tr>

        <tr align="center">
            <td>Номер участка:</td>
            <td>@Model.SiteNumber</td>
            <td>@Html.ActionLink("Указать номер", "SelectWorkPlace", "Tpp")</td>
        </tr>

        <tr align="center">
            <td>Номер рабочего места:</td>
            <td>@Model.WorkplaceNumber</td>
            <td>@Html.ActionLink("Указать номер", "SelectWorkPlace", "Tpp")</td>
        </tr>

        <tr align="center">
            <td align="center" colspan="3">@Html.ActionLink("Сохранить всё", "SaveOperation") </td >
        </tr>
    </table>
}

<script src='@Url.Content("~/Scripts/jquery-1.12.4.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>
<script>
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });

        $(".viewDialog").on("click", function (e) {
            e.preventDefault();

            $("<div></div>")
                .addClass("dialog")
                .appendTo("body")
                .dialog({
                    title: $(this).attr("data-dialog-title"),
                     close: function () { $(this).remove() },
                    modal: true
                })
                .load(this.href);
        });
    });
</script>