@model KursTRPO.Models.Operation

@{
    ViewBag.Title = "AddOperation";
}

<h2>AddOperation</h2>

@using (Html.BeginForm())
{
    <div>
        Наменование: 
        <div>
            @Html.Editor("Name", Model.Name)
        </div>
    </div>

    <div>
        Номер: 
        <div>
            @Html.Editor("Number", Model.Number)
        </div>
    </div>

    <div>
        Код перехода:
        <div>
            @Html.Editor("TransitionId", Model.TransitionId)
            @Html.ActionLink("Выбрать из БД", "SelectTransition", new { i = -1 })
        </div>
    </div>

    <div>
        Название перехода:
        <div>
            @Html.Editor("TransitionName", Model.TransitionName)
        </div>
    </div>

    <div>
        Код оборудования:
        <div>
            @Html.Editor("EquipmentId", Model.EquipmentId)
            @Html.ActionLink("Выбрать из БД", "SelectEquipment", new { i = -1 })
        </div>
    </div>

    <div>
        Код оснастки:
        <div>
            @Html.Editor("RiggingId", Model.RiggingId)
        </div>
    </div>

    <div>
        Номер цеха:
        <div>
            @Html.Editor("DepartmentNumber", Model.DepartmentNumber)
        </div>
    </div>

    <div>
        Номер участка:
        <div>
            @Html.Editor("SiteNumber", Model.SiteNumber)
        </div>
    </div>

    <div>
        Номер рабочего места:
        <div>
            @Html.Editor("WorkplaceNumber", Model.WorkplaceNumber)
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Добавить" />
        </div>
    </div>
}
