@model KursTRPO.Models.AddRouteModel

@{
    ViewBag.Title = "AddRoute";
}

<h2>Добавить маршрут</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>Код ТП</td>
            <td>@Html.DropDownListFor(x=>x.TechProcId, Model.techprocList) </td>
        </tr>

        <tr>
            <td>Название ТП</td>
            <td>@Html.EditorFor(x=>x.NameTechProc)</td>
        </tr>

        <tr>
            <td>ФИО разработчика</td>
            <td>@Html.DropDownListFor(x=>x.NameOfDeveloper, @Model.developList)</td>
        </tr>

        <tr>
            <td>Обозначение детали</td>
            <td>@Html.EditorFor(x => x.DetailsDesignation)</td>
        </tr>


        <tr>
            <td>Имя детали</td>
            <td>@Html.EditorFor(x => x.DetailsName)</td>
        </tr>
    </table>

    <input type="submit" value="Добавить" />
}