@model KursTRPO.Models.AddRouteCarModel

@{
    ViewBag.Title = "AddRouteCar";
}

<h2>Добавить маршрутную карту</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <table>        
        <tr>
            <td>
                Название предприятия
            </td>
            <td>@Html.EditorFor(x => x.CompanyName)</td>
        </tr>

        <tr>
            <td>
                Номер маршрута
            </td>
            <td>@Html.DropDownListFor(x => x.RouteId, Model.routeList)</td>
        </tr>

        <tr>
            <td>
                Разработал
            </td>
            <td>@Html.DropDownListFor(x => x.Developer, @Model.developList)</td>
        </tr>

        <tr>
            <td>
                Проверил
            </td>
            <td>@Html.DropDownListFor(x => x.Checked, @Model.developList)</td>
        </tr>

        <tr>
            <td>
                Согласовано
            </td>
            <td>@Html.DropDownListFor(x => x.Agreed, @Model.developList)</td>
        </tr>

        <tr>
            <td>
                Утвердил
            </td>
            <td>@Html.DropDownListFor(x => x.Approved, @Model.developList)</td>
        </tr>

        <tr>
            <td>
                Нормконтроллер
            </td>
            <td>@Html.DropDownListFor(x => x.NormСontroller, @Model.developList)</td>
        </tr>

    </table>

    <input type="submit" value="Отправить" />
}