@model KursTRPO.Models.Rigging

@{
    ViewBag.Title = "AddRigging";
}

<h2>Добавить оснастку</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <table>
        @Html.HiddenFor(x => x.RiggingId)
        <tr>
            <td>Наименование</td>
            <td>@Html.EditorFor(x => x.Name)</td>
        </tr>

        <tr>
            <td>Количество</td>
            <td>@Html.EditorFor(x => x.Quantity)</td>
        </tr>

        <tr>
            <td>Вид инструмента</td>
            <td>@Html.EditorFor(x => x.TypeOfTool)</td>
        </tr>
    </table>

    <input type="submit" value="Сохранить" />
}