@model KursTRPO.Models.Equipment

@{
    ViewBag.Title = "AddEqupment";
}

<h2>Добавить оборудование</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <table>
        @Html.HiddenFor(x => x.EquipmentId);

        <tr>
            <td>Название</td>
            <td>@Html.EditorFor(x => x.Name)</td>
        </tr>

        <tr>
            <td>Номер детали</td>
            <td>@Html.EditorFor(x => x.DetailNumber)</td>
        </tr>

        <tr>
            <td>Количество</td>
            <td>@Html.EditorFor(x => x.Quantity)</td>
        </tr>

        <tr>
            <td>Цех</td>
            <td>@Html.EditorFor(x => x.Department)</td>
        </tr>

    </table>

    <input type="submit" value="Отправить" />
}