@model KursTRPO.Models.Material

@{
    ViewBag.Title = "EditMaterial";
}

<h2>Добавить материал</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <table>
        <tr>
            <td>@Html.HiddenFor(x=>x.MaterialId)</td>
        </tr>

        <tr>
            <td>Название</td>
            <td>@Html.EditorFor(x => x.Name)</td>
        </tr>

        <tr>
            <td>Сортамент</td>
            <td>@Html.EditorFor(x => x.Assortment)</td>
        </tr>

        <tr>
            <td>Марка</td>
            <td>@Html.EditorFor(x => x.Stamp)</td>
        </tr>

        <tr>
            <td>Обозначение стандарта</td>
            <td>@Html.EditorFor(x => x.DesignOfStandard)</td>
        </tr>

    </table>

    <input type="submit" value="Сохранить" />
}