@model IEnumerable<KursTRPO.Models.Rigging>


@{
    ViewBag.Title = "Список оснасток";
}

<h2>@ViewBag.Title</h2>

<table width="100%" border="1">
    <tr align="center">
        <td>Код оснастки</td>
        <td>Наименование</td>
        <td>Вид инструмента</td>
        <td>Количество</td>
    </tr>


    @foreach (KursTRPO.Models.Rigging temp in Model)
    {
        <tr align="center">
            <td>@temp.RiggingId</td>
            <td>@temp.Name</td>
            <td>@temp.TypeOfTool</td>
            <td>@temp.Quantity</td>
        </tr>
    }

</table>