@model IEnumerable<KursTRPO.Models.TechnologicalProcesses>


@{
    ViewBag.Title = "Список тех. процессов";
}

<h2>@ViewBag.Title</h2>

<table width="100%" border="1">
    <tr align="center">
        <td>Код тех. процесса</td>
        <td>Наименование</td>
        <td>Код операции</td>
        <td>Код материалла</td>
        <td>Тип по методу выполнения</td>
        <td>Номер акта</td>
        <td>Дата внедрения ТП</td>
    </tr>


    @foreach (KursTRPO.Models.TechnologicalProcesses temp in Model)
    {
        <tr align="center">
            <td>@temp.TechProcId</td>
            <td>@temp.Name</td>
            <td>
                @foreach (KursTRPO.Models.Operation opertemp in temp.Operations)
                {
                    @opertemp.Number
                    <br />
                }
            </td>
            <td>@temp.MaterialId</td>
            <td>@temp.TypeByExecution</td>
            <td>@temp.ActNumber</td>
            <td>@temp.DateStartTechProc</td>
            <td>@Html.ActionLink("Удалить", "DeleteTPP", new { i = @temp.TechProcId })</td>
        </tr>
    }
</table>