@model IEnumerable<KursTRPO.Models.Transition>


@{
    ViewBag.Title = "Список переходов";
}

<h2>@ViewBag.Title</h2>

<table border="1" width="100%">
    <tr align="center">
        <td>Код перехода</td>
        <td>Номер перехода</td>
        <td>Ключевое слово</td>
        <td>Вид перехода</td>
    </tr>

    @foreach (KursTRPO.Models.Transition temp in Model)
    {
        <tr align="center">
            <td>@temp.TransitionId</td>
            <td>@temp.TransitionNumber</td>
            <td>@temp.Keyword</td>
            <td>@temp.TransitionType</td>
            <td>@Html.ActionLink("Удалить", "DeleteTransition", new { i = @temp.TransitionId })
                <br />
                @Html.ActionLink("Редактировать", "EditTransition", new { i = @temp.TransitionId })</td>
        </tr>
    }
</table>