@model IEnumerable<KursTRPO.Models.Transition>


@{
    ViewBag.Title = "Список переходов";
}

<h2>@ViewBag.Title</h2>
<table>
    <tr>
        <td>Код перехода</td>
        <td>Номер перехода</td>
        <td>Ключевое слово</td>
        <td>Вид перехода</td>
    </tr>

    @foreach (KursTRPO.Models.Transition temp in Model)
    {
        <tr>
            <td>@temp.TransitionId</td>
            <td>@temp.TransitionNumber</td>
            <td>@temp.Keyword</td>
            <td>@temp.TransitionType</td>

            <td>@Html.ActionLink("Выбрать", "SelectTransition", new { i = @temp.TransitionId})</td>
            <td>@Html.ActionLink("Удалить", "DeleteTransition", temp, null)</td>
        </tr>
    }
</table>