@model IEnumerable<KursTRPO.Models.Route>


@{
    ViewBag.Title = "Список маршрутов";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <td>Код маршрута</td>
        <td>Код ТП</td>
        <td>Название ТП</td>
        <td>Фио разработчика</td>
        <td>Обозначение детали</td>
        <td>Имя детали</td>
    </tr>


    @foreach (KursTRPO.Models.Route temp in Model)
    {
        <tr>
            <td>@temp.RouteId</td>
            <td>@temp.TechProcId</td>
            <td>@temp.NameTechProc</td>
            <td>@temp.NameOfDeveloper</td>
            <td>@temp.DetailsDesignation</td>
            <td>@temp.DetailsDesignation</td>

            <td>@Html.ActionLink("Выбрать", "", temp, null)</td>
            <td>@Html.ActionLink("Удалить", "DeleteRoute", temp, null)</td>
        </tr>
    }
</table>
