@model IEnumerable<KursTRPO.Models.Equipment>


@{
    ViewBag.Title = "Список деталей";
}

<h2>@ViewBag.Title</h2>

@foreach (KursTRPO.Models.Equipment temp in Model)
{
    <div>
        Код оборудования: @temp.EquipmentId; <br />
        Номер детали: @temp.DetailNumber; <br />
        Наименование: @temp.Name; <br />
        Количество: @temp.Quantity; <br />
        Цех: @temp.Department; <br />

        @Html.ActionLink("Удалить", "DeleteEquipment", temp, null)

    </div>
    <br />
}