@model IEnumerable<KursTRPO.Models.Operation>


@{
    ViewBag.Title = "Список операций";
}

<h2>@ViewBag.Title</h2>

<table>

    <tr>
        <td>Код операции</td>
        <td>Наименование</td>
        <td>Номер</td>
        <td>Код перехода</td>
        <td>Название перехода</td>
        <td>Код оборудования</td>
        <td>Код оснастки</td>
        <td>Номер цеха</td>
        <td>Номер участка</td>
        <td>Номер рабочего места</td>
    </tr>
    @foreach (KursTRPO.Models.Operation temp in Model)
    {
        <tr>
            <td>@temp.OperationId</td>
            <td>@temp.Name</td>
            <td>@temp.Number</td>
            <td>@temp.TransitionId</td>
            <td>@temp.TransitionName</td>
            <td>@temp.EquipmentId</td>
            <td>@temp.RiggingId</td>
            <td>@temp.DepartmentNumber</td>
            <td>@temp.SiteNumber</td>
            <td>@temp.WorkplaceNumber</td>

            <td>@Html.ActionLink("Выбрать", "SelectOperation", new { i = @temp.OperationId }, null)</td>
            <td>@Html.ActionLink("Удалить", "DeleteOperation", temp, null)</td>
        </tr>
    }
</table>