@model IEnumerable<KursTRPO.Models.Equipment>


@{
    ViewBag.Title = "Список деталей";
}

<h2>@ViewBag.Title</h2>

<table width="100%">
    <tr align="center">
        <td>Код оборудования</td>
        <td>Номер детали</td>
        <td>Наименование</td>
        <td>Количество</td>
        <td>Цех</td>
    </tr>
    @foreach (KursTRPO.Models.Equipment temp in Model)
    {
        <tr align="center">
            <td>@temp.EquipmentId</td>
            <td> @temp.DetailNumber </td >
            <td> @temp.Name</td>
            <td>@temp.Quantity </td>
            <td>@temp.Department</td>
            <td>@Html.ActionLink("Выбрать", "SelectEquipment", new { i = @temp.EquipmentId})</td>
            <td>@Html.ActionLink("Удалить", "DeleteEquipment", temp, null)</td>
        </tr>
    }

</table>