@model IEnumerable<KursTRPO.Models.Rigging>


@{
    ViewBag.Title = "Список оснасток";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <td>Код оснастки</td>
        <td>Наименование</td>
        <td>Вид инструмента</td>
        <td>Количество</td>
    </tr>


    @foreach (KursTRPO.Models.Rigging temp in Model)
    {
    <tr>
        <td>@temp.RiggingId</td>
        <td>@temp.Name</td>
        <td>@temp.TypeOfTool</td>
        <td>@temp.Quantity</td>

        <td>@Html.ActionLink("Выбрать", "SelectRigging", new { i = @temp.RiggingId })</td>
        <td>@Html.ActionLink("Удалить", "DeleteRigging", temp, null)</td>
    </tr>
    }

</table>
