@model IEnumerable<KursTRPO.Models.RouteCar>


@{
    ViewBag.Title = "Список маршрутных карт";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <td>Код маршрутной карты</td>
        <td>Номер маршрута</td>
        <td>Название предприятия</td>
        <td>Разработал</td>
        <td>Проверила</td>
        <td>Согласовано</td>
        <td>Утвердил</td>
        <td>Нормконтроллер</td>
    </tr>


    @foreach (KursTRPO.Models.RouteCar temp in Model)
    {

        <tr>
            <td>@temp.RouteCarId</td>
            <td>@temp.RouteCarId</td>
            <td>@temp.CompanyName</td>
            <td>@temp.Developer</td>
            <td>@temp.Checked</td>
            <td>@temp.Agreed</td>
            <td>@temp.Approved</td>
            <td>@temp.NormСontroller</td>

            <td>@Html.ActionLink("Выбрать", "", temp, null)</td>
            <td>@Html.ActionLink("Удалить", "DeleteRouteCar", temp, null)</td>
        </tr>
    }
</table>